<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
    </head>
    <body>
        <h1>Add section</h1>
        <div class="well">
            <form method="post" {{form_enctype(form)}}>
                {{form_widget(form)}}
                <input type="submit" value="OK" />
            </form>
        </div>

    </body>
</html>
