
{% extends "oswizardForumBundle::layout.html.twig" %}        
{% block title %}Welcome{% endblock %}

{% block subtitle %}
{{parent()}}-welcome
{% endblock %}

{% block forum_body %}
<h2>list of sections</h2>
<ul>
    {% for section in sections %}
    <li>
        <a href="{{path('oswizardforum_showSection', {'idSection':section.id})}}">{{section.name}}</a>
    </li>
    {% else %}
    <li>No sections to show</li>
    {% endfor %}
</ul>
<a href="{{ path('oswizardforum_addSection')}}" class="btn">
    add section
</a>
{% endblock %}
